// COLORS
// ---
// That's pretty much self explanatory :)
//
// Required: primary, black, white
//
// Structure:
// name: value[hex, rgb, rgba, hsl]
//
// Colour helper function available:
// Usage: color('name')
//
$settings-colors: (
  blue: #313b61,
  blue-light: #98a0c2,
  blue-dark: #23252d,
  yellow: #ebeb5e,
  black: #000,
  white: #fff
);

$settings-grey-scale: (
  1: #d4d4d4,
  2: #888,
  3: #666,
  4: #444,
  5: #111
);
