// Font
$f-primary: $settings-font-primary;
$f-secondary: $settings-font-secondary;

$f-base-size: $settings-font-base-size;
$f-base-line-height: 1.4;
$f-base-color: $settings-font-base-color;

// ***
// COLOURS
// ***
// Functional colours
$c-primary: color(blue);
$c-primary-light: color(blue-light);
$c-primary-dark: color(blue-dark);
$c-secondary: color(orange);

$c-black: color(black);
$c-white: color(white);

// Grey stack
$c-grey-5: #111;
$c-grey-4: #444;
$c-grey-3: #666;
$c-grey-2: #888;
$c-grey-1: #f0f0f0;

// Shadows
$shadow-level-0: 0 0 0.5rem 0 fade-out($c-black, 0.7);
$shadow-level-1: 0 0 1rem 0 fade-out($c-black, 0.5);
$shadow-level-2: 0 0 3rem 0 fade-out($c-black, 0.7);

// Layout
$gap: gap(0); // 3rem;
$mw-text: rem(layout-width('text-max-width'));
$mw-content: rem(layout-width('content-max-width'));
$mw-inner: rem(layout-width('inner-max-width'));
$mw-outer: rem(layout-width('outer-max-width'));

// Breakpoints
$breakpoints: (
  small: rem(425px),
  medium: $mw-content,
  // 768px,
    large: $mw-inner,
  // 1024px,
    xlarge: $mw-outer,
  // 1280px,
    xxlarge: rem(1500px),
);

// $test: unitless-rem(40);
$test2: $mw-text;

// @debug 'tete', $test2, 10rem - $test2;
