:root {
  // Font
  --f--font-family-primary: #{font-family(primary)};
  --f--font-family-secondary: #{font-family(secondary)};
  --f--font-size: #{$settings-font-base-size};
  --f--line-height: 1.4;

  // Color
  --c--background-primary: #{color(white)};
  --c--background-secondary: #{color(blue)};
  
  --c--highlight: #{color(yellow)};

  --c--text-primary: #{font-color(primary)}; // #{map-get($settings-font-color, primary)};
  --c--text-secondary: #{font-color(secondary)};
  --c--text-tertiary: #{font-color(tertiary)};
  --c--text-highlight: #{font-color(highlight)};

  --c--border-primary: #{grey(2)};

  --shadow-level-0: #{0 0 0.5rem 0 fade-out(color(black), 0.7)};
  --shadow-level-1: #{0 0 1rem 0 fade-out(color(black), 0.5)};
  --shadow-level-2: #{0 0 3rem 0 fade-out(color(black), 0.7)};
}

// Layout
$mw-text: rem(layout-width('text-max-width'));
$mw-content: rem(layout-width('content-max-width'));
$mw-inner: rem(layout-width('inner-max-width'));
$mw-outer: rem(layout-width('outer-max-width'));

// Breakpoints
$breakpoints: (
  xsmall: rem(400px),
  small: rem(600px),
  medium: $mw-content,
  large: $mw-inner,
  xlarge: $mw-outer,
  xxlarge: rem(1500px)
);
