.generic-content {
  h1 {
    @extend %h1;
  }
  h2 {
    @extend %h2;
  }
  h3 {
    @extend %h3;
  }
  h4 {
    @extend %h4;
  }
  h5 {
    @extend %h5;
  }
  h6 {
    @extend %h6;
  }

  p {
    @extend %p;
    a {
      @extend %link;
      @extend %link-inline;
    }
  }

  blockquote {
    p {
      @extend %quote;
    }

    cite {
      @extend %h6;

      font-weight: 100;
      text-align: right;

      opacity: 0.75;

      &::before {
        display: inline-block;

        margin-right: 0.5em;

        content: '-';
      }
    }
  }

  ul {
    @extend %ul;
  }
  ul li {
    @extend %ul-li;
  }

  ol {
    @extend %ol;
  }
  ol li {
    @extend %ol-li;
  }

  img {
    display: inline-block;

    margin: 1em 0 3em;

    width: 100%;
  }

  h6 > a.link {
    padding: 1em 1.5em;
    margin: 1.5em 0;

    background-color: transparent;

    border: 0.125em solid $c-secondary;

    text-decoration: none;
    appearance: none;

    font-family: $f-secondary;
    font-size: 0.85rem;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: $c-primary;
    white-space: nowrap;

    transition: color 0.15s ease-in-out;

    &:focus,
    &:hover {
      color: $c-secondary;
    }
  }
}

.generic-content-block {
  @extend %layout__body;

  justify-items: start;
  align-items: start;

  > *,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  blockquote,
  img,
  .para--two-col,
  .widget {
    @extend %layout__item;

    margin: 1em 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  blockquote,
  img,
  .widget {
    @include m('vertical', 0.5);
  }

  blockquote p {
    margin-bottom: 0;
  }

  blockquote cite {
    display: inline-block;

    @include m('top', -0.25);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    max-width: $mw-text;
  }

  blockquote,
  blockquote p,
  blockquote cite,
  .para--two-col {
    max-width: #{$mw-content * 1.5};
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  blockquote,
  .para--two-col,
  .widget {
    &:empty {
      display: none;
    }
  }

  // blockquote,
  img {
    @extend %layout__item--to-left;
  }

  .para--two-col {
    columns: 1;

    p {
      margin-top: 0;
      margin-bottom: 0.5em;
    }

    @include screen(medium) {
      columns: 2;

      p {
        margin-top: 0;
        margin-bottom: 0;

        break-inside: avoid;
      }
    }
  }
}
