*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;

  background-color: var(--c--background-primary);

  overflow: hidden;
  overflow-y: auto;
}

.no-scroll {
  position: fixed;
  overflow: hidden;
}

.clearfix {
  @extend %clearfix;
}

.visually-hidden {
  @extend %visually-hidden;
}
