@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,900&display=swap');

// Variables
$c-example-primary: #23252d;
$c-example-secondary: #ebeb5e;
$c-example-black: black;
$c-example-white: white;
$c-example-grey: #d4d4d4;

.example {
  --page-background-color: #{lighten($c-example-primary, 70%)};
  --element-background-color: #{$c-example-primary};
  --element-light-background-color: #{lighten($c-example-primary, 75%)};
  --border-color: #{$c-example-grey};
  --text-color: #{$c-example-primary};
  --highlight-color: #{$c-example-secondary};

  --label-background: #{darken($c-example-grey, 5%)};

  background-color: var(--page-background-color, #{$c-example-white});

  font-family: 'JetBrains Mono', 'Lato', Arial, Helvetica, sans-serif;

  &--dark {
    --page-background-color: #{lighten($c-example-primary, 4%)};
    --text-color: #{$c-example-white};
  }

  &__hero {
    @extend %layout__item;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    position: relative;

    @include margin(gap(1), gap(2), medium, top bottom);

    width: 100%;

    h1 {
      display: block;

      position: relative;

      margin-bottom: 1em;

      width: auto;

      font-size: 3rem;
      font-weight: 600;
      line-height: 1.25;
      text-align: left;
      color: var(--text-color, #{$c-example-black});
    }

    p {
      margin-bottom: 2em;

      max-width: $mw-text;

      font-size: 0.85rem;
      font-weight: 400;
      line-height: 2;
      text-align: left;
      color: var(--text-color, #{$c-example-black});
    }
  }

  &__guides {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    width: 100vw;
    height: 100vh;

    pointer-events: none;

    &-body,
    &-item {
      width: 100%;
      height: 100%;
    }

    &-item {
      grid-row: 1;
      box-shadow: 0 0 0 1px var(--border-color);
    }
  }

  &__wrapper {
    position: relative;
  }

  &__body {
    @include padding(gap(1), gap(2), medium, top bottom);

    &--white {
      --page-background-color: #{$c-example-white};
      background-color: var(--page-background-color);
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;
      z-index: 1;

      @include margin(gap(3), false, false, bottom);

      h2 {
        display: block;

        padding: 1em;

        width: auto;

        background-color: var(--page-background-color, #{$c-example-white});

        font-family: inherit;
        font-size: 0.85rem;
        font-weight: 400;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        color: var(--text-color);

        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: -1;

          transform: translate(-50%, -50%);

          width: 100vw;
          height: 1px;

          background: var(--text-color, #{$c-example-black});

          content: '';
        }
      }
    }
  }

  &__grid {
    &-item {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

      padding: 0.25rem;
      @include margin(gap(0), gap(1), medium, bottom);

      min-height: 5rem;

      background: var(--element-background-color);
      box-shadow: $shadow-level-1, 0 0 0 1px $c-example-white;

      font-size: rem(10);
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: 0.05em;
      color: var(--highlight-color);
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        font-weight: 300;
        text-transform: none;
        color: var(--border-color);

        &::before {
          content: '// ';
        }
      }
    }
  }

  &__listing {
    @include layout-item();

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
  }

  &__spacing {
    border: 1px dashed var(--border-color);

    &-margin {
    }

    &-padding {
      background-color: var(--border-color);
    }

    &-inner {
      width: 5rem;
      height: 5rem;

      background-color: var(--element-background-color);
    }
  }

  &__spacing,
  &__spacing-padding {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 50%;

      transform: translate(-50%, -50%);

      padding: 0.25rem 1rem;

      background-color: var(--label-background);
      box-shadow: $shadow-level-0;

      font-size: 0.85rem;
      line-height: 1;
      text-transform: uppercase;
      color: var(--text-color);
    }
  }

  &__spacing::before {
    content: 'Margin';
  }
  &__spacing-padding::before {
    content: 'Padding';
  }

  &__spacing {
    @include margin(gap(1), gap(2), large);

    &-margin {
      @include margin();

      .spacing--variant-1 & {
        @include margin(gap(2), gap(3), medium, bottom);
        @include margin(gap(1), gap(2), large, top);
      }
    }

    &-padding {
      @include padding();

      .spacing--variant-1 & {
        @include padding(gap(-1), gap(0), medium, top bottom);
        @include padding(gap(0), gap(2), large, left right);
      }
    }
  }
}
